@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FileUpload01.Models.File>

<h2>Index</h2>
<hr />


<ul>
    @foreach (var listItem in Model)
    {
        <li><img src="~/uploads/@Html.DisplayFor(modelItem => listItem.ImagePath)" /></li>

    }
</ul>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
