@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FileUpload01.Models.Image>

<h2>Index</h2>
<hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
